################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/db/v15
/x64
/Release
/Debug
/test/x64/Debug
